*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}


body{

background:#0b1220;
color:white;

}


header{

padding:25px;
background:#111827;
text-align:center;

}


header h1{

font-size:45px;
color:#38bdf8;

}



.dashboard{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:25px;

}



.card{

background:#1e293b;
padding:20px;
border-radius:15px;

box-shadow:0 0 15px #0005;

}



.card h2{

color:#94a3b8;
margin-bottom:10px;

}


.wide{

grid-column:span 3;

}


#crowd{

color:#22c55e;

}


#risk{

color:#facc15;

}



.map{

height:350px;
position:relative;

grid-column:span 2;

background:#111827;

}



.zone{

position:absolute;
padding:25px;
border-radius:50%;
font-weight:bold;

}


.green{

background:#22c55e;
top:120px;
left:100px;

}


.red{

background:#ef4444;

}


.yellow{

background:#eab308;
top:80px;
right:120px;

}



.red:nth-of-type(4){

bottom:50px;
right:80px;

}




table{

width:100%;
margin-top:15px;

}


th,td{

padding:15px;
border-bottom:1px solid #334155;
text-align:left;

}



li{

margin:15px;
list-style:none;

}


#alerts li{

background:#111827;
padding:12px;
border-radius:10px;

}


#recommendations p{

background:#0f172a;
padding:12px;
margin:10px;
border-left:5px solid #38bdf8;

}



@media(max-width:900px){

.dashboard{

grid-template-columns:1fr;

}


.wide,.map{

grid-column:span 1;

}

}